:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --title-color: #000028;
  --title-bg-color: #ff0070;
  --decor-color: #ff0070;
  --decor-color-opacity: rgba(255, 0, 112, 0.4);
  --main-bg-color: #000028;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --text-color: #f1b2ce;
    --title-color: #000028;
    --title-bg-color: #ff0070;
    --decor-color: #ff0070;
    --decor-color-opacity: rgba(255, 0, 112, 0.4);
    --main-bg-color: #000028;
  }
} */
