:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --title-color: #000028;
  --logo-color: #db00ff;
  --title-bg-color: #ff0070;
  --decor-color: #ff0070;
  --decor-color-opacity: rgba(255, 0, 112, 0.4);
  --main-bg-color: #000028;
}
