.page {
  background-color: var(--main-bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: var(--text-size);
  font-weight: var(--regular-weight);
}

.page > *:not(.header) {
  background-color: var(--main-bg-color);
}

.header,
.footer {
  height: 100%;
  min-height: 668px;
  position: relative;
  display: grid;
  padding: 10px;
}

.header {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.header__rec {
  position: absolute;
  right: 11px;
  top: 11px;
  color: var(--decor-color);
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin: 2px 8px;
  box-shadow: 0 0 4px 2px var(--decor-color);
  background-color: var(--decor-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-self: end;
  gap: 11px;
  margin-top: 65px;
}

.header__theme-menu-button {
  outline: none;
  color: var(--decor-color);
  text-transform: lowercase;
  background-color: transparent;
  padding: 0 13px;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--decor-color-opacity);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor-color);
}

.header__title,
.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw - 20px, 7.5rem);
  color: var(--logo-color);
  font-weight: var(--bold-weight);
  line-height: 0.83;
}

.header__title {
  text-shadow: 4px 4px 0 var(--title-bg-color);
}

.header__text {
  font-weight: var(--bold-weight);
  align-self: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
  line-height: 1.3;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  font-size: var(--text-size);
  line-height: 1.3;
  color: var(--decor-color);
  font-weight: var(--bold-weight);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__title {
  font-weight: var(--bold-weight);
}

h4.article__title {
  font-weight: var(--regular-weight);
}

.article__text {
  font-size: var(--text-size);
  font-weight: var(--regular-weight);
  color: var(--text-color);
}

.article__link {
  text-shadow: 2px 2px 0 var(--title-bg-color);
  text-decoration: none;
}

.article__link:hover {
  text-decoration: underline;
}

.article__link:focus-visible {
  outline: none;
  border: 1px solid var(--decor-color);
  padding: 0 3px;
}

.section__gallery {
  gap: 10px;
}

.section__gallery .section__title {
  color: var(--title-color);
}

.gallery__image {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.footer__title {
  align-self: center;
  text-align: center;
  text-shadow: 2px 2px 0 var(--footer-shadow-color);
}

@media (width >= 768px) {
  .header,
  .footer {
    min-height: 1024px;
    padding: 20px;
  }

  .header__rec {
    right: 22px;
    top: 22px;
  }

  .header__theme-menu-list {
    margin-top: 172px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-left: -20px;
  }

  .header__text {
    width: 50%;
    justify-self: flex-end;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .section {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .section__title {
    grid-column: 1 / 2;
    grid-row: 2 span;
  }

  .section__why .article,
  .section__how .section__subtitle,
  .section__how .article {
    grid-column: 2 / -1;
    margin-left: calc(20px / 3);
  }

  .section__how .section__subtitle {
    align-self: start;
  }

  .section__what .section__title {
    grid-row: 1;
    grid-column: 1;
  }

  .section__gallery {
    gap: 20px;
  }

  .section__what .article {
    grid-column: 1 / -1;
  }

  .section__gallery .section__title {
    grid-row: 1;
    grid-column: 3 span;
  }

  .gallery__image:first-of-type {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .gallery__image:nth-of-type(2) {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .gallery__image:nth-of-type(4) {
    grid-column: 2;
    grid-row: 3;
  }

  .gallery__image:last-of-type {
    grid-column: 2 / 4;
    grid-row: 4;
  }
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-height: 768px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-self: center;
    margin-top: 0;
    gap: 10px;
  }

  .section__why .article,
  .section__how .section__subtitle,
  .section__how .article {
    margin-left: 0;
  }

  .section__what .article {
    grid-row: 2;
    grid-column: 1 span;
  }
}
